body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
table {
  border-collapse: collapse;
  width: 500px;
}
th {
  border-top: 1px solid #fb7a31;
  border-bottom: 1px solid #fb7a31;
  background: #ffc;
}
td {
  border-bottom: 1px solid #ccc;
  padding: 0 0.5em;
  text-align: center;
}
td:first-child {
  width: 190px;
}
td+td {
  border-left: 1px solid #ccc;
  text-align: right;
}
